<h1 style="font-size: 36px;margin: 0;padding-top: 5px;padding-bottom: 5px; color:#000">
  <span style="color:#a4cc39; text-transform:uppercase;"><%= @talent.name %></span> HAS SHOWN DISINTEREST IN A POSITION!
</h1>

<div class="inner-content" style="border: 2px solid #ccc;padding: 20px;color: #888;margin: 10px 30px;">
  <table style="border:0; width:100%; padding-bottom: 20px;">
    <tr>
      <td style="width:50%; padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">COMPANY:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= @position.account.company_name %></div>
      </td>
      <td style="width:50%; padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">POSITION:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= @position.job_title %></div>
      </td>
    </tr>
  </table>
</div>
