<h1 style="font-size: 36px;margin: 0;padding-top: 5px;padding-bottom: 5px; color:#000">
  <span style="color:#a4cc39; text-transform:uppercase;"><%= @talent.name %></span> ACCEPTED AN OFFER!
</h1>

<div class="inner-content" style="border: 2px solid #ccc;padding: 20px;color: #888;margin: 10px 30px;">
  <table style="border:0; width:100%; padding-bottom: 20px;">
    <tr>
      <td style="width:50%; padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">COMPANY:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= @position.account.company_name %></div>
      </td>
      <td style="width:50%; padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">LOCATION:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= @position.city.full_name %></div>
      </td>
    </tr>
    <tr>
      <td style="padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">COMPENSATION:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= number_to_currency(@offer.salary_pay_rate) %></div>
      </td>
      <td style="padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">START DATE:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= DateTime.parse(@offer.start_date).strftime('%m/%d/%Y') %></div>
      </td>
    </tr>
    <tr>
      <td style="text-align:center">
        <div class="talent-photo">
          <% if @talent.photo.present? %>
            <%= image_tag @talent.photo.url, style: "display: block;margin: 0 auto;padding-bottom: 10px;max-width: 150px;max-height: 150px; border-radius:500rem;" %>
          <% end %>
        </div>
        <div style="color:#a4cc39;font-size:18px;text-transform: uppercase;font-weight: bold;"><%= @talent.name %></div>
        <div style="color:#888;font-size:18px;text-transform: uppercase;"><%= @talent.title %></div>
      </td>
      <td style="text-align:center">
        <div class="company-logo">
          <% if @position.account.logo.present? %>
            <%= image_tag @position.account.logo.url, style: "display: block;margin: 0 auto;padding-bottom: 10px;max-width: 150px;max-height: 150px;" %>
          <% end %>
        </div>
        <div style="color:#a4cc39;font-size:18px;text-transform: uppercase;font-weight: bold;">HIRING MANAGER:</div>
        <div style="color:#888;font-size:18px;text-transform: uppercase;"><%= @offer.employer_contact.name %></div>
      </td>
    </tr>
  </table>
</div>
