<script>
  function loadMatchesData(field, value) {
    var url = '/admin/dashboard/agent_load_talent_matches';
    if (field !== undefined) {
      url = url + '?' + field + '=' + value;
    }

    $.get(url)
        .done(function(response) {
          $('#tableTalentMatches tbody').empty();
          $.each(response, function(index, obj) {
            var newRow = '<tr>';
            newRow = newRow + '<td>' + obj.id + '</td>';
            newRow = newRow + '<td>' + obj.talent + '</td>';
            if (obj.resume !== '') {
              newRow = newRow + '<td><a href="' + obj.resume + '" target="_blank">Download</a></td>';
            } else {
              newRow = newRow + '<td></td>';
            }
            newRow = newRow + '<td>' + '<a href="/admin/talent_profiles/' + obj.id + '">View</a></td>';
            newRow = newRow + '</tr>';
            $('#tableTalentMatches tbody').append(newRow);
          });
        });
  }

  function loadVerticals() {
    $.get('/admin/dashboard/agent_load_verticals')
        .done(function(response) {
          $.each(response.data, function(index, obj) {
            $('#filterVertical').append($('<option>', {
              value: obj.id,
              text: obj.attributes.name
            }));
          });
        });
  }

  function loadRoles() {
    var url = '/admin/dashboard/agent_load_roles';
    $.get(url)
        .done(function(response) {
          $.each(response.data, function(index, obj) {
            $('#filterRole').append($('<option>', {
              value: obj.id,
              text: obj.attributes.name
            }));
          });
        });
  }

  function loadSkillsets() {
    $.get('/admin/dashboard/agent_load_skillsets')
        .done(function(response) {
          $.each(response.data, function(index, obj) {
            $('#filterSkillset').append($('<option>', {
              value: obj.id,
              text: obj.attributes.name
            }));
          });
        });
  }

  function loadLocations() {
    $.get('/admin/dashboard/agent_load_locations')
        .done(function(response) {
          $.each(response.data, function(index, obj) {
            $('#filterLocations').append($('<option>', {
              value: obj.id,
              text: obj.attributes.name
            }));
          });
        });
  }

  function loadCultures() {
    $.get('/admin/dashboard/agent_load_cultures')
        .done(function(response) {
          $.each(response.data, function(index, obj) {
            $('#filterCultures').append($('<option>', {
              value: obj.id,
              text: obj.attributes.name
            }));
          });
        });
  }

  $(document).ready(function() {
    loadVerticals();
    loadRoles();
    loadSkillsets();
    loadLocations();
    loadCultures();

    $('#filterVertical').change(function(event) {
      $('#filterRole').val('');
      $('#filterSkillset').val('');
      $('#filterLocations').val('');
      $('#filterCultures').val('');

      var val = $(this).val();
      loadMatchesData('vertical', val);
    });
    $('#filterRole').change(function(event) {
      $('#filterVertical').val('');
      $('#filterSkillset').val('');
      $('#filterLocations').val('');
      $('#filterCultures').val('');

      var val = $(this).val();
      loadMatchesData('skill_category', val);
    });
    $('#filterSkillset').change(function(event) {
      $('#filterVertical').val('');
      $('#filterRole').val('');
      $('#filterLocations').val('');
      $('#filterCultures').val('');

      var val = $(this).val();
      loadMatchesData('skillset', val);
    });
    $('#filterLocations').change(function(event) {
      $('#filterVertical').val('');
      $('#filterRole').val('');
      $('#filterSkillset').val('');
      $('#filterCultures').val('');

      var val = $(this).val();
      loadMatchesData('location', val);
    });
    $('#filterCultures').change(function(event) {
      $('#filterVertical').val('');
      $('#filterRole').val('');
      $('#filterLocations').val('');
      $('#filterSkillset').val('');

      var val = $(this).val();
      loadMatchesData('culture', val);
    });
    $('#btnClearFilters').click(function() {
      $('#filterVertical').val('');
      $('#filterRole').val('');
      $('#filterLocations').val('');
      $('#filterSkillset').val('');
      $('#filterCultures').val('');

      loadMatchesData();
    })
  });
</script>

<table id="tableFilters">
  <tr>
    <td>
      <button id="btnClearFilters">Clear Filters</button>
    </td>
  </tr>
  <tr>
    <td>Vertical</td>
    <td colspan="2">Role</td>
  </tr>
  <tr>
    <td>
      <select id="filterVertical">
        <option value="">ALL</option>
      </select>
    </td>
    <td colspan="2">
      <select id="filterRole">
        <option value="">ALL</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Skillset</td>
    <td>Locations</td>
    <td>Cultures</td>
  </tr>
  <tr>
    <td>
      <select id="filterSkillset">
        <option value="">ALL</option>
      </select>
    </td>
    <td>
      <select id="filterLocations">
        <option value="">ALL</option>
      </select>
    </td>
    <td>
      <select id="filterCultures">
        <option value="">ALL</option>
      </select>
    </td>
  </tr>
</table>