<script>
  function loadData() {
    $.get('/admin/dashboard/agent_load_talent_matches?vertical=1')
        .done(function(response) {
          $.each(response, function(index, obj) {
            var newRow = '<tr>';
            newRow = newRow + '<td>' + obj.id + '</td>';
            newRow = newRow + '<td>' + obj.talent + '</td>';
            if (obj.resume !== '') {
              newRow = newRow + '<td><a href="' + obj.resume + '" target="_blank">Download</a></td>';
            } else {
              newRow = newRow + '<td></td>';
            }
            newRow = newRow + '<td>' + '<a href="/admin/talent_profiles/' + obj.id + '">View</a></td>';
            newRow = newRow + '</tr>';
            $('#tableTalentMatches tbody').append(newRow);
          });
        });
  }

  $(document).ready(function() {
    loadData();
  });
</script>

<table id="tableTalentMatches">
  <thead>
  <tr>
    <th>Id</th>
    <th>Talent</th>
    <th>Resume</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>