<body style="background-color: #ccc;font-family: 'Arial Narrow', Arial, sans-serif;">
  <div class="page" style="min-width: 300px;max-width: 80%;margin: 20px auto;">
    <div class="logo" style="padding-top: 20px;">
      <%= image_tag attachments["fetch-logo.png"].url %>
    </div>
    <div class="date" style="float: right;color: #888;">
      <%= @current_date %>
    </div>
    <div class="content" style="text-align: center;margin: 20px auto;min-width: 300px;background-color: white;padding: 0px 10px 10px 10px;">
      <h1 style="font-size: 48px;margin: 0;padding-top: 5px;padding-bottom: 15px;">
        INVITATION TO <span style="color: #a4cc39;">SIGN UP!</span>
      </h1>
      <div style="text-align: center;">
        <%= link_to @link, style: "text-decoration: none;color: black;" do %>
          <div class="button" style="background-color: #a4cc39;color: black;font-size: 20px;width: 200px;padding: 10px 0;text-align: center;margin: 0 auto;cursor: pointer;">SIGN UP!
          </div>
        <% end %>
      </div>
    </div>
    <div class="footer" style="color: #888;text-align: center;">
      <div class="notice" style="margin-bottom: 20px;">
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">You received this match email because you received an invitation from a coworker.</p>
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">Need more info or help? Contact your Fetch agent or email us at support@getfetched.com</p>
      </div>
      <div class="copyright">
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">&copy; 2015 Fetch Talent. &nbsp;&nbsp;All Rights Reserved. &nbsp;&nbsp;&nbsp;&nbsp;Terms & Conditions | Privacy Policy</p>
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">getfetched.com | Birmingham, Alabama</p>
        <p style="color:#ccc;font-size:8px"><%= @timestamp %></p>
      </div>
    </div>
  </div>
</body>
