<!-- somewhere in your document include the Javascript -->
<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

<script>
  intuit.ipp.anywhere.setup({grantUrl: '<%= authenticate_admin_invoices_url %>'});
</script>
<% unless QuickbooksAuthToken.any?  %>
<!-- this will display a button that the user clicks to start the flow -->
<ipp:connectToIntuit></ipp:connectToIntuit>
<% end %>
