<h1 style="font-size: 36px;margin: 0;padding-top: 5px;padding-bottom: 5px; color:#000">
  HEY THERE, YOU'VE RECEIVED A MESSAGE ON FETCH!
</h1>
<% if @from.present? %>
  <h2 style="font-size:20px; color:#888; margin-top:0px;">
    FROM <span style="color:#a4cc39; text-transform:uppercase;"><%= @from %></span>
  </h2>
<% end %>

<div class="inner-content" style="border: 2px solid #ccc;padding: 20px;color: #888;margin: 10px 30px;">
  <table style="border:0; width:100%; padding-bottom: 20px;">
    <tr>
      <td style="width:100%; padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">MESSAGE:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= @message_body %></div>
      </td>
    </tr>
  </table>

  <div class="bottom-panel" style="background-color: #f2f2f2;margin-left: -30px;margin-right: -30px;padding: 30px;margin-top:20px;">
    <%= link_to @message_url, style: "text-decoration: none;color: black;" do %>
      <div class="button" style="background-color: #a4cc39;color: black;font-size: 20px;width: 200px;padding: 10px 0;text-align: center;margin: 0 auto;cursor: pointer;">VIEW MESSAGE</div>
    <% end %>
  </div>

</div>
