<h1 style="font-size: 36px;margin: 0;padding-top: 5px;padding-bottom: 5px; color:#000">
  WELCOME TO <span style="color: #a4cc39; text-transform:uppercase;">FETCH!</span>
</h1>
<h2 style="margin:0; padding:0; color: #888;">
  WHERE YOU ARE MATCHED WITH TALENT THAT'S ALREADY INTERESTED IN YOUR COMPANY
</h2>
<br/>
<h2 style="margin: 0;padding-top: 5px;padding-bottom: 5px; color:#000">
  <span style="color: #a4cc39; text-transform:uppercase;">THANKS</span> SO MUCH FOR CREATING YOUR COMPANY PROFILE
</h2>
<div class="inner-content" style="border: 2px solid #ccc;padding: 10px;color: #888;margin: 10px 30px;">
  <div style="text-align: center;">
    <%= image_tag attachments['fetch-process.png'].url, style: 'width: 100%;' %>
  </div>
  <h3 style="color: #a4cc39; text-transform:uppercase; margin-bottom: 0;">NEXT STEPS</h3>
  You will not see matches until the talent shows interest.
  <br>
  Please be sure to edit your company profile to add perks and a video to enhance your employment brand.
  <br>
  <br>
  Your jobs are not searchable, you will only see profiles of interested talent.
  <br>
  <div class="bottom-panel" style="background-color: #f2f2f2;margin-left: -30px;margin-right: -30px;padding: 30px;margin-top:20px;">
    <%= link_to @dashboard_url, style: "text-decoration: none;color: black;" do %>
      <div class="button" style="background-color: #a4cc39;color: black;font-size: 20px;width: 250px;padding: 10px 0;text-align: center;margin: 0 auto;cursor: pointer;">
        VIEW YOUR JOB BOARD
      </div>
    <% end %>
  </div>
</div>
