<h1 style="font-size: 36px;margin: 0;padding-top: 5px;padding-bottom: 5px; color:#000">
  CONGRATS YOU'VE BEEN MADE AN OFFER!</span>
</h1>
<h2 style="font-size:20px; color:#888; margin-top:0px;">
  FOR THE <span style="color:#a4cc39; text-transform:uppercase;"><%= @position_name %></span> POSITION
</h2>

<div class="inner-content" style="border: 2px solid #ccc;padding: 20px;color: #888;margin: 10px 30px;">
  <table style="border:0; width:100%; padding-bottom: 20px;">
    <tr>
      <td style="width:50%; padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">COMPANY:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= @company_name %></div>
      </td>
      <td style="width:50%; padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">LOCATION:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= @location %></div>
      </td>
    </tr>
    <tr>
      <td style="padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">COMPENSATION:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= number_to_currency(@compensation) %></div>
      </td>
      <td style="padding-bottom:20px; text-align:left">
        <div style="color:#a4cc39; font-size:24px">START DATE:</div>
        <div style="color:#888; font-size:24px; text-transform:uppercase"><%= @start_date %></div>
      </td>
    </tr>
    <tr>
      <td style="text-align:center" colspan="2">
        <div class="company-logo">
          <% if @account_logo_url.present? %>
            <%= image_tag @account_logo_url, style: "display: block;margin: 0 auto;padding-bottom: 10px;max-width: 150px;max-height: 150px;" %>
          <% end %>
        </div>
        <div style="color:#a4cc39;font-size:18px;text-transform: uppercase;font-weight: bold;">HIRING MANAGER:</div>
        <div style="color:#888;font-size:18px;text-transform: uppercase;"><%= @employer.name %></div>
      </td>
    </tr>
  </table>
</div>
