<body style="background-color: #ccc;font-family: 'Arial Narrow', Arial, sans-serif;">
  <div class="page" style="min-width: 600px;max-width: 80%;margin: 20px auto;">
    <div class="logo">
      <%= image_tag attachments["fetch-logo.png"].url %>
    </div>
    <div class="date" style="float: right;color: #888;">
      <%= @current_date %>
    </div>
    <div class="content" style="text-align: center;margin: 20px auto;min-width: 600px;background-color: white;padding: 0px 10px 10px 10px;">
      <h1 style="font-size: 36px;margin: 0;padding-top: 10px;padding-bottom:5px; color: #000;">
        TALENT HAS <span style="color: #a4cc39;">DECLINED AN OFFER</span>
      </h1>
      <h2 style="margin:0; padding:0; color: #888;">
        FOR THE <span style="color: #a4cc39;text-transform:uppercase;"><%= @position.job_title %></span> POSITION
      </h2>

      <div class="inner-content" style="border: 2px solid #ccc;padding: 20px;color: #888;margin: 10px 30px;">
        <img src="<%= @talent_photo_url %>" height="200" />
        <div style="color: #a4cc39; text-transform:uppercase; font-size:18px;"><%= @talent.name %></div>

        <div class="bottom-panel" style="background-color: #f2f2f2;margin-left: -30px;margin-right: -30px;padding: 30px;margin-top:20px;">
          <%= link_to @chat_url, style: "text-decoration: none;color: black;" do %>
            <div class="button" style="background-color: #a4cc39;color: black;font-size: 20px;width: 200px;padding: 10px 0;text-align: center;margin: 0 auto;cursor: pointer;">
              CHAT WITH TALENT
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="footer" style="color: #888;text-align: center;">
      <div class="notice" style="margin-bottom: 20px;">
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">You received this match email because you have an account with Fetch.</p>
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">Need more info or help? Contact your Fetch agent or email us at support@getfetched.com</p>
      </div>
      <div class="copyright">
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">&copy; 2015 Fetch Talent. &nbsp;&nbsp;All Rights Reserved. &nbsp;&nbsp;&nbsp;&nbsp;Terms & Conditions | Privacy Policy</p>
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">getfetched.com | Birmingham, Alabama</p>
        <p style="color:#ccc;font-size:8px"><%= @timestamp %></p>
      </div>
    </div>
  </div>
</body>
