<h1 style="font-size: 36px;margin: 0;padding-top: 10px;padding-bottom:5px; color: #000;">
  YOU'VE BEEN <span style="color: #a4cc39;">FETCHED!</span>
</h1>
<div style="text-align: center;">
  <div class="company-logo"><% if @account.present? && @account.logo.present? %><%= image_tag @account.logo.url, style: "display: block;margin: 0 auto;padding-bottom: 10px;max-width: 150px;max-height: 150px;" %><% end %></div>
  <div style="color: #a4cc39;font-size: 18px;text-transform: uppercase;font-weight: bold;"><%= @account.company_name %></div>
  <div style="color: black;font-size: 28px;text-transform: uppercase;"><%= @position.job_title %></div>
</div>

<div class="inner-content" style="border: 2px solid #ccc;padding: 20px;color: #888;margin: 10px 30px;">
  <div class="skills">
    <div class="skillset1" style="display: inline-block;width: 98%;">
      <div class="header" style="color: #a4cc39;font-size: 16px; margin-bottom: 10px;">
        MATCHED SKILL SET
      </div>
      <div class="skill" style="font-size: 20px;text-align: center;">
        <%= @primary_skill %>
      </div>
    </div>
  </div>
  <div class="about-job" style="text-align: left;margin: 30px 0;font-size: 14px;">
    <div class="header" style="color: #a4cc39;font-size: 16px;">
      ABOUT THIS JOB
    </div>
    <%= @position.description %>
  </div>
  <div class="bottom-panel" style="background-color: #f2f2f2;margin-left: -20px;margin-right: -20px;padding: 30px;">
    <%= link_to @job_details_url, style: "text-decoration: none;color: black;" do %>
      <div class="button" style="background-color: #a4cc39;color: black;font-size: 20px;width: 200px;padding: 10px 0;text-align: center;margin: 0 auto;cursor: pointer;">VIEW JOB DETAILS
      </div>
    <% end %>
  </div>
</div>
