<h1 style="font-size: 36px;margin: 0;padding-top: 10px;padding-bottom:5px; color: #000;">
  TALENT IS <span style="color: #a4cc39;">INTERESTED!</span>
</h1>
<h2 style="margin:0; padding:0; color: #888;">
  IN THE <span style="color: #a4cc39;text-transform:uppercase;"><%= @position.job_title %></span> POSITION
</h2>

<div class="inner-content" style="border: 2px solid #ccc;padding: 10px;color: #888;margin: 10px 30px;">
  <table style="border:0">
    <tr>
      <td rowspan="2">
        <img src="<%= @talent_picture %>" height="200" />
      </td>
      <td style="width: 100%;">
        <div class="skillset1" style="display: inline-block; width:100%; text-align:center">
          <div class="header" style="color: #a4cc39;font-size: 16px;text-align: center;">
            PRIMARY SKILL SET
          </div>
          <div class="skill" style="font-size: 20px;text-align: center;color:#888">
            <%= @primary_skill %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 100%;">
        <div class="skillset2" style="display: inline-block; width:100%; text-align:center">
          <div class="header" style="color: #a4cc39;font-size: 16px;text-align: center;">
            SECONDARY SKILL SET
          </div>
          <div class="skill" style="font-size: 20px;text-align: center;color:#888">
            <%= @secondary_skill %>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div class="about-job" style="text-align: left;margin: 30px 0;font-size: 14px;">
    <div class="header" style="color: #a4cc39;font-size: 16px;">
      ABOUT <span style="color:#000000; text-transform:uppercase;"><%= @talent.name %></span>
    </div>
    <div style="margin-top:5px;">
      <%= @talent.summary %>
    </div>
  </div>

  <div class="bottom-panel" style="background-color: #f2f2f2;margin-left: -10px;margin-right: -10px;padding: 30px;margin-top:20px;">
    <%= link_to @profile_url, style: "text-decoration: none;color: black;" do %>
      <div class="button" style="background-color: #a4cc39;color: black;font-size: 20px;width: 200px;padding: 10px 0;text-align: center;margin: 0 auto;cursor: pointer;">
        VIEW TALENT PROFILE
      </div>
    <% end %>
  </div>
</div>
