<h1 style="font-size: 48px;margin: 0;padding-top: 5px;padding-bottom: 15px; color:#000000">
  DON'T MISS YOUR <span style="color: #a4cc39;">MATCHES!</span>
</h1>

<div class="inner-content" style="padding: 20px;color: #888;margin: 10px 30px;">
  <% @matches.each do |match| %>
    <% button_link = "#{@job_details_link}" + "&position_id=#{match.position.id}&match_id=#{match.id}" %>
    <div style="border:2px solid #ccc; margin-bottom:5px; padding:5px">
      <table>
        <tr>
          <td rowspan="2" style="width:110px; padding-right: 10px;">
            <% if match.position.account.logo.present? %>
              <img src="<%= match.position.account.logo.url %>" style="max-width: 110px;" />
            <% end %>
          </td>
          <td style="width:260px">
            <div style="color:#000; font-size:20px; text-transform:uppercase; text-align:left">
              <%= match.position.job_title %>
            </div>
            <div style="color:#a4cc39; font-size:16px; text-transform:uppercase">
              <%= match.position.account.company_name %>
            </div>
          </td>
          <td style="width:230px">
            <span style="color:#a4cc39; font-size:10px; vertical-align:middle;">PRIMARY SKILL SET:</span>
            <br/>
            <span style="color:#888888; font-size: 20px; text-transform:uppercase">
              <% if match.multiple_skills && match.position.required_skills.count > 0 %>
                <%= match.position.required_skills[0].name %>
              <% else %>
                <%= match.matching_skills[0].name unless match.matching_skills.count == 0 %>
              <% end %>
            </span>
          </td>
        </tr>
        <tr>
          <td style="text-align:left;">
            <a href='<%= public_send(:job_details_link, @user.email, match.position.id, match.id) %>' style="text-decoration: none;color: black;">
              <div class="button" style="background-color: #a4cc39;color: black;font-size: 14px;width: 140px;padding: 5px 0;text-align: center;cursor: pointer; vertical-align: bottom;">VIEW JOB DETAILS
              </div>
            </a>
          </td>
          <td>
            <% if match.multiple_skills %>
              <span style="color:#a4cc39; font-size:10px; vertical-align:middle;">SECONDARY SKILL SET:</span>
              <br/>
              <span style="color:#888888; font-size: 20px; text-transform:uppercase">
                <% if match.position.required_skills.count > 1 %>
                  <%= match.position.required_skills[1].name %>
                <% end %>
              </span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
