<body style="background-color: #ccc;font-family: 'Arial Narrow', Arial, sans-serif;">
  <div class="page" style="min-width: 400px;max-width: 80%;margin: 20px auto;">
    <div class="logo">
      <%= image_tag attachments["fetch-logo.png"].url %>
    </div>
    <div class="date" style="float: right;color: #888;">
      <%= @current_date %>
    </div>
    <div class="content" style="text-align: center;margin: 20px auto;min-width:460px;background-color: white;padding: 0px 10px 10px 10px;">
      <%= yield %>
    </div>
    <div class="footer" style="color: #888;text-align: center;">
      <div class="notice" style="margin-bottom: 20px;">
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">You received this match email because you have an account with Fetch.</p>
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">Need more info or help? Contact your Fetch agent or email us at support@getfetched.com</p>
      </div>
      <div class="copyright">
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">&copy; 2015 Fetch Talent. &nbsp;&nbsp;All Rights Reserved. &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://getfetched.com/terms-of-service/">Terms & Conditions</a> | <a href="http://getfetched.com/privacy-policy/">Privacy Policy</a></p>
        <p style="margin-bottom: 0;margin-top: 0;color: #888;">getfetched.com | Birmingham, Alabama</p>
        <p style="color:#ccc;font-size:8px"><%= @timestamp %></p>
      </div>
    </div>
  </div>
</body>
